@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
 
    justify-content: center;
    align-items: center;
}
.left-light,
.right-light {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: radial-gradient(circle, #d60d0d 0%, #e00e0e 40%, transparent 100%);
  filter: blur(80px);
  z-index: 0;
}

.left-light {
  top: 70%;
  left: -100px;
  transform: translateY(-50%);
}

.right-light {
  top: 10%;
  right: -100px;
  transform: translateY(-50%);
}
.container{
  background-color: white;
  height: 270px;
  width: 300px;
  
}
.container input{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-family: "Poppins", sans-serif;

}
.container input::placeholder{
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    align-items: center;
    justify-content: center;
}

